@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Lexend+Deca);

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  text-align: center;
}

h1,
h2 {
  color: hsl(0, 0%, 100%);
}

h1,
h2,
p {
  font-family: "Inter", sans-serif;
  line-height: 1;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 45px;
}

h3 {
  color: hsl(0, 0%, 100%);
  margin-inline: 3px;
  font-family: "Lexend Deca", sans-serif;
}

.accent {
  color: hsl(277, 64%, 61%);
}

.aside-bg {
  background-color: rgb(157, 0, 255);
}

.text-content {
  background-color: hsl(244, 38%, 16%);
  /* border-radius: 10px 0 0 10px; */
}

.stats {
  text-transform: uppercase;
  justify-content: space-around;
}

.stat-heading {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 13px;
  font-weight: 400;
  /* margin-right: 80px; */
  letter-spacing: 1.2px;
}

.last-stat {
  /* margin-right: 0; */
}

.attribution {
  color: white;
  text-align: center;
  justify-content: center;
}

.attribution a {
  color: hsl(228, 45%, 48%);
}
